.color-form {
	display: block;
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	width: 1000px;

	P {
		font-size: 1.6em;
		padding: 0;
	}
}

.hour {
	float: left; 
	margin: 0;
	width: 33%;
}

.min {
	display: inline-block; 
	margin: 0;
	width: 33%;
}

.page-title {
	margin-top: 300px;
	text-align: center;
}

.row {
	margin-bottom: 24px;
}

.sec {
	float: right; 
	margin: 0;
	width: 33%;
}

.text-center {
	text-align: center;
}

.time-zone {
    margin-bottom: -20px;

    p {
    	font-size: 2em;
    }
}
