<header role="banner">
  <h1 class="page-title">WHAT COLOR IS IT?</h1>
  <nav role="navigation">
    <h1 class="visuallyhidden">Main Navigation</h1>
  </nav>
</header>


<main class="main" role="main">
  <h1 class="visuallyhidden">Main Content</h1>
  <div class="time-zone text-center"></div>
</main>


<footer role="contentinfo">
  <p class="text-center">&copy; 2015 Kang Peng</p>
</footer>

<script data-main="js/main" src="js/libs/requirejs/require.js"></script>
<script>
  // define settings for require
  define('settings', {
  });
</script>
